main {
    padding-top: 20px;
}

.header {
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 3% 4%;
}
.app-title {
    font-size: 3rem;
    color: white;
    justify-content: center;
    display: inline-block;  
}

.card {
    margin: 0 0 20px 0;
    border: 2px solid grey;
}
  
.card-row {
    border: 3px solid grey;
    margin: 14px;
    background-color: lightblue;
    border-radius: .25rem;
    

}
  
.card-body {
    padding: 1%;
}
  
.form-input {
    width: 100%;
    font-size: 1.2rem;
}
