main {
    padding-top: 20px;
}

.header {
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 3% 4%;
}
.app-title {
    font-size: 3rem;
    color: white;
    justify-content: center;
    display: inline-block;  
}

.card {
    border: 2px solid grey;
    padding: 50px;
    margin-bottom: 20px;
}
  
.card-row {
    border: 2px solid grey;
    margin: 10.5px;
    background-color: lightblue;
    border-radius: .25rem;  
}

.card-search {
    border: 2px solid grey;
    border-radius: .25rem;
    padding: 20px;
}

.form-input {
    width: 100%;
    font-size: 1.2rem;
}

.container {
    width: 100%;
}

.col-2 {
    font-size: 18px;
    padding: -10px 50px;
}